body {
    background-color: black;
}

p {
    color: #97D8C4;
    font-size: 25px;
    font-family: "Serif", Georgia, serif;
    text-align: justify;

}
 
h1 {
    font-size: 30px;
    font-family: "Serif", Georgia, serif;
    text-align: justify;
    color:#97D8C4; 
}

.frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    padding: 30px;
}

.ScientistStyle {
    width: 1000px;
    height: 750px;
}

.holyromanempire {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


span {
    color: palegreen;
}

.frame {
    margin-left: 24px;
    margin-right: 24px;
    
    padding: 16px;
    border: 2px solid white;

}