body {
    background-color: black;
}

h1 {
    color: red;
}

.special {
    color:blue;
}

/*tiberius*/
#nero {
    color:green;
}

.holyromanempire {
    width: 800px;
    height: 500px;
}

.holyromanempire {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

span {
    color: magenta;
}

.frame {
    margin-left: 24px;
    margin-right: 24px;
    
    padding: 16px;
    border: 2px solid white;

}